<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SanctionMapper">
	<insert id="insertSanction" parameterType="SanctionDTO">
		INSERT
		INTO sanction (saNum, userid,coNum,startDate,saType,endDate)
		VALUES (SANCTION_NUM.NEXTVAL,#{userid},#{coNum},
				SYSDATE,#{saType},SYSDATE+(INTERVAL '${saDate}' DAY))
	</insert>
	
</mapper>